@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-bg-points:before {
  content: "\e900"
}
._icon-more:before {
  content: "\e901"
}
._icon-poin:before {
  content: "\e902"
}
._icon-star:before {
  content: "\e908"
}
._icon-facebook2:before {
  content: "\ea91"
}
._icon-instagram:before {
  content: "\ea92"
}
._icon-youtube:before {
  content: "\ea9d"
}
._icon-linkedin:before {
  content: "\eac9"
}
._icon-xing:before {
  content: "\ead3"
}
.button {
  font-family: Poppins
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #81818b;
  line-height: 1;
  font-family: Inter;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #0d0d11
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  color: #fff;
  font-family: Inter;
  padding: 1rem 1.8125rem;
  background-color: #3d96f4;
  border-radius: 3.125rem;
  color: #fff;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 2px;
  transition: all .3s
}
.button--fw {
  width: 100%
}
.button--dark {
  background-color: rgba(129,129,139,.2)
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  color: #fff;
  font-weight: 500;
  line-height: 1.2
}
.item__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.4
}
.content {
  color: #9c9c9c;
  font-weight: 300;
  line-height: 1.5
}
.item__content {
  color: #81818b;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5
}
@media (min-width:81.875em) {
  .title {
    font-size: 3.25rem
  }
  .item__title {
    font-size: 1.1875rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 2.125rem
  }
  .item__title {
    font-size: 1.125rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em) and (max-width:81.875em) {
  @supports (font-size:clamp(2.125rem ,1.7613636364rem + 1.8181818182vw ,3.25rem)) {
    .title {
      font-size: clamp(2.125rem ,1.7613636364rem + 1.8181818182vw ,3.25rem)
    }
  }
  @supports not (font-size:clamp(2.125rem ,1.7613636364rem + 1.8181818182vw ,3.25rem)) {
    .title {
      font-size: calc(2.125rem + 1.125 * (100vw - 20rem)/ 61.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.1047979798rem + 0.101010101vw ,1.1875rem)) {
    .item__title {
      font-size: clamp(1.125rem ,1.1047979798rem + .101010101vw ,1.1875rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.1047979798rem + 0.101010101vw ,1.1875rem)) {
    .item__title {
      font-size: calc(1.125rem + .0625 * (100vw - 20rem)/ 61.875)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #81818b
  }
  .button--dark:hover {
    background-color: #3d96f4
  }
}