@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1512;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$mainColor: #9c9c9c;
$liteColor: #ffffff;
$blueColor: #3d96f4;

@import "_functions.scss";
@import "_fonts.scss";
@import "_icons.scss";
@import "_reset.scss";
@import "_common.scss";

body {
	font-family: "Poppins";
	font-size: toRem(16);
	color: $mainColor;
	background-color: #0d0d11;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: toRem(1310);
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
}
